@* @model AppointmentVM

<p>
    AppointmentDate: @Model.AppointmentDate
</p>
<p>
    Doctor Name: @Model.Speciality
</p>

<p>
   Patient Name: @Model.Appointments.Count
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Appointment Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model.Appointments)
        {
            <tr>
                <td>@a.id</td>
                <td>@a.AppointmentDate.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@a.Status</td>
            </tr>
        }
    </tbody>
</table>
 *@
